@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  background: #0D0D0D;
  background-color: #0D0D0D;
  color: white;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0D0D0D;
}

.bg-black {
  background: #141414;
}

.bg-teal-950 {
  background: rgb(4 47 46);
}

.bg-gradient {
  background: linear-gradient(0deg, #68562f, transparent) #042F2E;
}


.mt-8 {
  margin-top: 2rem;
}

.p-20 {
  padding: 5rem;
}


.grain {
  transform: translateZ(0);
}

.grain::before {
  content: "";
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  z-index: 9999;
  position: fixed;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
  opacity: 0.15;
  pointer-events: none;
  -webkit-animation: noise 1.5s steps(2) infinite;
  animation: noise 1.5s steps(2) infinite;
}

@-webkit-keyframes noise {
  to {
    transform: translate3d(-7rem, 0, 0)
  }
}

@keyframes noise {
  0% {
    transform: translate3d(0, 9rem, 0)
  }

  10% {
    transform: translate3d(-1rem, -4rem, 0)
  }

  20% {
    transform: translate3d(-8rem, 2rem, 0)
  }

  30% {
    transform: translate3d(9rem, -9rem, 0)
  }

  40% {
    transform: translate3d(-2rem, 7rem, 0)
  }

  50% {
    transform: translate3d(-9rem, -4rem, 0)
  }

  60% {
    transform: translate3d(2rem, 6rem, 0)
  }

  70% {
    transform: translate3d(7rem, -8rem, 0)
  }

  80% {
    transform: translate3d(-9rem, 1rem, 0)
  }

  90% {
    transform: translate3d(6rem, -5rem, 0)
  }

  to {
    transform: translate3d(-7rem, 0, 0)
  }
}

.landing_title_block {
  margin-top: 32vh;
}

p,
.p,
.button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.75rem;
}

.button {
  font-size: 1.25rem;
}

code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  line-height: 1.5rem;
}

.blur-edge {
  box-shadow: 0 0 8px 8 white inset;
}


.display {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 3.25rem;
  line-height: 3.5rem;
}

.headline {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.2rem;
  line-height: 2.5rem;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
}

.button {
  font-weight: 600;
  position: relative;
  padding: 0.5rem 0.75rem;
  width: 100%;
  background: linear-gradient(105deg, #dfbd69, transparent) #26cbb3;
  color: black;
}

.button:hover {
  background: linear-gradient(90deg, #dfbd69, transparent) #926f34;
  transition: background-color 1s;
  color: black;
  cursor: pointer;
}

.secondary {
  font-weight: 500;
  background: transparent;
  color: #badab7;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #dfbd69, #26cbb3) 1;
}

.secondary:hover {
  background: transparent;
  transition: border-image 1s;
  color: #b0c8ae;
  border-image: linear-gradient(to right, #dfbd69, #926f34) 1
}


.no-download {
  pointer-events: none;
}

.nav_link,
.nav_link_active {
  padding: .5rem 1.5rem;
}

.nav_link:hover {
  background: black;
}

.nav_link_active {
  background: black;
  border-bottom: 1px solid;
  cursor: default;
}


.nav_anime {
  animation-name: nav_anime;
  animation-duration: .5s;
}

input,
textarea,
textarea:focus,
input:focus,
select {
  border: none;
  border: solid 1px white;
  background-color: #0D0D0D;
  color: white;
}

.name_input {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  padding: 0px 8px;
}

@keyframes nav_anime {
  from {
    transform: translateY(-35px) scaleY(.8);
  }

  to {
    transform: translateY(0) scaleY(1);
  }
}


.desktop_only {
  display: default;
}

.cursor {
  content: "";
  width: 5px;
  height: 1.1rem;
  margin-bottom: -4px;
  margin-left: 4px;
  background: white;
  display: inline-block;
  animation: cursor-blink 1.2s infinite;
}

.cursor_horizontal {
  content: "";
  width: 1.5rem;
  height: 5px;
  margin-bottom: -4px;
  margin-left: -24px;
  background: white;
  display: inline-block;
  animation: cursor-blink 1.2s infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0%;
  }

  35% {
    opacity: 100%;
  }

  65% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}


.golden_shadow {
  box-shadow: 0px 0px 54px 10px rgba(146, 122, 70, .85);

}

.mobile_only {
  display: none;
}

@media only screen and (max-width: 768px) {
  code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.125rem;
    line-height: 1.6rem;
  }

  .secondary {
    background: transparent;
  }

  .desktop_only {
    display: none;
  }

  .mobile_only {
    display: inherit;
  }

  .golden_shadow {
    box-shadow: none;
    background: linear-gradient(0, #9f4c35 1%, #793e40 4%, #804565 20%, #573170, #1e164d, #110a3e 99%);
  }

  /* #042F2E */
  .landing_title_block {
    bottom: 12.5vh;
    position: fixed;
  }

  .display {
    font-family: 'Courier New', Courier, monospace;
    font-size: 9.4vw;
    line-height: 90%;
    letter-spacing: -2px;

  }

}